body, html {
    background-image: url(../Images/guywp2.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

input[type=text], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #080000;
border-radius: 4px;
box-sizing: border-box;
}

.button {
border: 1px solid #080000;
width: 100%;
background-color: #f3f709;
border: 1px solid #080000;
color: rgb(7, 7, 7);
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

.button:hover {
border: 1px solid #080000;  
background-color: #b80909;
}

#app {
margin: auto;    
height: 750px;
width: 300px;  
border-radius: 5px;
border: 1px solid #000000;
background-color: #42a870;
padding: 20px;
opacity: .85;
}

h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}